[defaults]
inventory = inventory/
roles_path = roles
collections_paths = ~/.ansible/collections
host_key_checking = True
retry_files_enabled = False
callbacks_enabled = ansible.builtin.default
result_format = yaml
# Use auto_silent to suppress interpreter warnings
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=accept-new -o ForwardAgent=no
